    /***** RESET *****/
    
    html,
    body,
    div,
    span,
    applet,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    font,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    b,
    u,
    i,
    center,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        /*font-size: 100%;
    vertical-align: baseline;*/
    }
    
    html,
    body {
        height: 100%;
    }
    
    body {
        line-height: 1;
    }
    
    ol,
    ul {
        list-style: none;
    }
    
    blockquote,
    q {
        quotes: none;
    }
    
    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
        content: '';
        content: none;
    }
    
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    /* tables still need 'cellspacing="0"' in the markup */
    
    textarea {
        overflow: auto;
    }
    /***** RESET *****/
    
    .container {
        width: 100%;
        height: 100%;
        background-color: rgb(13, 13, 13);
        text-align: center;
        overflow: hidden;
    }
    
    .box-1 {
        height: 100%;
        width: 50%;
        position: relative;
        float: left;
        animation: flash 4s linear 1s;
        /* background-color: rgb(5, 4, 3); */
    }
    
    .box-2 {
        height: 100%;
        width: 50%;
        position: relative;
        float: left;
        animation: flash 4s linear 1s;
        /* background-color: rgb(5, 4, 3); */
    }
    
    .box-1 img {
        transform: translate(-5%, 10%);
        /* border: 2px white solid; */
    }
    
    .text-area {
        position: absolute;
        width: 43%;
        /* max-width: 800px; */
        height: 60%;
        top: 50%;
        left: 45%;
        transform: translate(20%, -55%);
        /* border: 1px white solid; */
    }
    
    .logo {
        position: absolute;
        width: 100%;
        overflow: hidden;
        left: 50%;
        top: 47%;
        transform: translate(-50%, -50%);
        animation: flash 4s linear 1s;
        /* border: 2px white solid; */
    }
    
    p {
        position: absolute;
        width: 100%;
        font-size: 45px;
        font-weight: 500;
        letter-spacing: 1%;
        color: white;
        font-family: 'Roboto', sans-serif;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: flash 4s linear 1s;
        margin-top: 30px;
        text-transform: uppercase;
        /* border: 2px white solid; */
    }
    
    h6 {
        color: white;
        position: absolute;
        font-size: 14px;
        width: 200px;
        top: 93.8%;
        left: 50%;
        transform: translate(-50%, 0);
        opacity: 0.35;
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
    }
    
    .loc {
        font-size: 12px;
    }
    
    h6 a {
        text-decoration: none;
        color: white;
    }
    
    @keyframes flash {
        0% {
            opacity: 0;
        }
        25% {
            opacity: 0.3;
        }
        45% {
            opacity: 0.5;
        }
        75% {
            opacity: 0.8;
        }
        100% {
            opacity: 1;
        }
    }
    
    @media (max-width:1441px) {
        p {
            font-size: 30px;
        }
    }
    
    @media (max-width:1024px) {
        p {
            font-size: 23px;
        }
        .box-1 {
            visibility: hidden;
        }
        .text-area {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .logo {
            width: 100%;
        }
    }
    
    @media (max-width:768px) {
        p {
            font-size: 18px;
        }
        h6 {
            font-size: 8px;
        }
        .loc {
            font-size: 5px;
        }
    }
    
    @media (max-width:414px) {
        p {
            font-size: 15px;
        }
        .logo {
            width: 190%;
        }
    }
    
    @media (max-width:375px) {
        p {
            font-size: 15px;
        }
        .logo {
            width: 190%;
        }
    }